@import "tailwindcss";

body {
  overflow: hidden;
}

@font-face {
  font-family: "Bonbance";
  src: url("/DRAW/Bonbance.woff2") format("woff2"),
    url("/DRAW/Bonbance.woff") format("woff");
}

@font-face {
  font-family: "Caramel";
  src: url("/DRAW/Caramel.woff2") format("woff2"),
    url("/DRAW/Caramel.woff") format("woff");
}

:root {
  font-family: "Bonbance", system-ui, Avenir, Helvetica, Arial, sans-serif;

  color-scheme: light dark;
  color: black;

  font-synthesis: none;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

.card {
  padding: 2em;
}
